* {
    font-family: Cursive;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
    font-size: 15px;
    border: rgb(141, 109, 226) 2px;
    border-style: inset;
}

h1 {
    font-family: Cursive;
    color: whitesmoke;
}

.open {
    background-color: rgb(204, 129, 253);
}

.main {
    display: flex;
    text-align: center;
    margin: auto;
}

table {
    margin: 20px auto;
    border-color: wheat;
    font: small-caps bold 24px/1 sans-serif;
}

.timer {
    font-size: 40px;
    font-family: cursive;
    margin: 10px;
    color: whitesmoke;
}

.lights {
    width: 50px;
}

.controls {
    margin: 100px 40px;
    padding: 40px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.action {
    height: 100vh;
    width: 50%;
    margin: 0 20px 0 20px;
    /* display: inline-block; */
}

.state {
    border-radius: 50%;
    font-size: 40px;
    background-color: rgba(245, 222, 179, 0);
    border: none;
}

.state:hover {
    opacity: 0.8;
}

.level-btn {
    margin: 3px;
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    background-color: #ff5bb0;
    border-radius: 6px;
    border: 1px solid #ee1eb5;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c70067;
}

.level-btn:hover {
    background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    background-color: #ef027d;
}

.level-btn:active {
    position: relative;
    top: 1px;
}

.hards {
    height: 40px;
    margin: 10px auto;
}

.lives {
    font-size: 30px;
}

.header-level {
    color: whitesmoke;
}

.safe {
    background-color: yellowgreen;
}

.safe-btn,
.boom-btn {
    background: none;
    padding: 7px;
    margin-top: 15px;
    border-radius: 20px;
}

.manuall-btn,
.undo-btn {
    width: 150px;
    background: none;
    border: orangered 3px inset;
    border-radius: 20px;
    padding: 10px;
    background: #B0CFBF;
    background: -webkit-linear-gradient(to right, #B0CFBF 0%, #00FF00 57%, #CF91A1 100%);
    background: -moz-linear-gradient(to right, #B0CFBF 0%, #00FF00 57%, #CF91A1 100%);
    background: linear-gradient(to right, #B0CFBF 0%, #00FF00 57%, #CF91A1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-shadow: 5px 5px 28px 5px rgba(255, 255, 255, 0.48);
    box-shadow: 5px 5px 28px 5px rgba(255, 255, 255, 0.48);
}

.up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-box {
    border-radius: 20px;
    border: tan 2px solid;
    margin-top: 25px;
    background: #CF9FB9;
    background: -webkit-linear-gradient(to right, #CF9FB9 0%, #BAFFBF 50%, #C1CFB6 100%);
    background: -moz-linear-gradient(to right, #CF9FB9 0%, #BAFFBF 50%, #C1CFB6 100%);
    background: linear-gradient(to right, #CF9FB9 0%, #BAFFBF 50%, #C1CFB6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}