.cell {
    width: 20px;
    height: 20px;
    text-align: center;
}

body {
    text-align: center;
}

h1 {
    font-family: Cursive;
}

.open {
    background-color: rgb(190, 186, 186);
}

.main {
    height: 100hv;
    width: 500px;
    display: block;
    text-align: center;
    margin: auto;
}

table {
    margin: 20px auto;
}

.timer {
    font-size: 40px;
    font-family: cursive;
    margin: 10px;
    text-shadow: green;
}